<!--
  Generated template for the MyBabyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar color="primary">
    <ion-title>MEUS BEBÊS</ion-title>
    <ion-buttons right>
      <button (click)="showOverlay()" ion-button icon-only>
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="bg-style" padding>
  <div text-center class="title-text">MEU BEBÊ</div>
  <div class="input-container-my-baby">
    <div class="input-label">Nome</div>
    <input type="text" class="custom-input" [(ngModel)]="bebe.nome">
  </div>

  <div class="input-container-my-baby">
    <div class="input-label">Data de Nascimento</div>
    <ion-datetime class="custom-input" displayFormat="DD/MM/YYYY" [(ngModel)]="bebe.dataNascimento"></ion-datetime>

  </div>

  <div class="input-container-my-baby">
    <div class="input-label">Peso</div>
    <input type="number" class="custom-input" [(ngModel)]="bebe.peso">
  </div>
  
  <div text-center class="title-text">FRALDAS</div>

  <div class="input-label">Marcas Favoritas</div>
  <ion-grid>
    <ng-container *ngFor="let marca of marcas; let i = index;">
      <ion-row *ngIf="i%2 == 0">
        <ion-col>
          <ion-checkbox class="check-marca" color="primary" checked={{marca.checada}} (ionChange)="setFraldaChecked($event, i)"></ion-checkbox>
          <ion-label class="checkbox-label">{{marca?.nome}}</ion-label>
        </ion-col>
        <ion-col *ngIf="marcas.length > i+1">
          <ion-checkbox class="check-marca" color="primary" checked={{marcas[i+1].checada}} (ionChange)="setFraldaChecked($event, i+1)"></ion-checkbox>
          <ion-label class="checkbox-label">{{marcas[i+1]?.nome}}</ion-label>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
  <div class="input-label">Tamanho</div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let tamanho of tamanhos; let i = index;">
        <div [ngClass]="tamanho?.checada ? 'round-button-div-checked':'round-button-div'" class="rn" (click)="selecionaTamanho(i)">{{tamanho?.nome}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="input-label">Lojas Favoritas</div>
  <ion-grid>
    <ng-container *ngFor="let loja of lojas; let i = index;">

      <ion-row *ngIf="i%2 == 0">
        <ion-col>
          <ion-checkbox color="primary" checked={{loja?.checada}} (ionChange)="setLojaChecked($event, i)"></ion-checkbox>
          <img [src]="loja?.imageLink" class="img-logo" />
        </ion-col>
        <ion-col *ngIf="lojas.length > i+1">
          <ion-checkbox color="primary" checked={{lojas[i+1]?.checada}} (ionChange)="setLojaChecked($event, i+1)"></ion-checkbox>
          <img [src]="lojas[i+1]?.imageLink" class="img-logo" />
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

  <div class="input-container-my-baby">
    <div class="input-label">Quanto você deseja pagar pro fralda? É com base nesse valor que iremos listar e
      te manter informado sobre as melhores promoções.
    </div>
    <input type="text" class="custom-input" placeholder="(R$) 1,00" [brmasker]="{money: true, decimal: 2}" value="" [(ngModel)]="preferences.price" >
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-checkbox color="primary" checked={{preferences.checked}} [(ngModel)]="preferences.checked"></ion-checkbox>
        <ion-label class="my-baby-remember-me">Avise-me de promoções imperdíveis.</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button class="button-text button-login" color="primary" (click)="sendPreferences()" ion-button full round medium>ENVIAR</button>
</ion-content>