page-my-baby {

    .title-text{
        margin-top: 10%;
        font-size: 1.5em;
        color: #119BF4;
        font-weight: 500;
        margin-bottom: 5%;
    }

    .input-container-my-baby {
        margin: 0% 0% 5% 0%;
    }

    .add-baby-text{
        margin-top: 5%;
        font-size: 1.0em;
        color: #119BF4;
        font-weight: 500;
        margin-bottom: 5%;
        padding-top: 2%;
    }

    .plus-img{
        max-height: 5%;
        max-width: 5%;
        margin-bottom: -1%;
        margin-left: 2%;
    }

    .check-marca {
        vertical-align: middle;
    }

    .checkbox-label{
        color: #119BF4;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        font-size: 1.2rem;
    }

    .round-button-div{
        border-radius: 50%;
        width: 28px;
        height: 28px;
        color: white;
        // background-color: #119BF4;
        background-color: #91CBF6;
        padding-top: 25%;
        font-size: 0.7em;
        font-weight: 700;
    }

    .round-button-div-checked{
        border-radius: 50%;
        width: 28px;
        height: 28px;
        color: white;
         background-color: #119BF4;
        //background-color: #91CBF6;
        padding-top: 25%;
        font-size: 0.7em;
        font-weight: 700;
    }

    .RN{
        padding-left: 19%;
    }

    .RN+{
        padding-left: 11%;
    }

    .P{
        padding-left: 31%;
    }

    .M{
        padding-left: 26%;
    }

    .G{
        padding-left: 29%;
    }

    .XG{
        padding-left: 21%;
    }

    .XXG{
        padding-left: 13%;
    }

    .img-logo{
        max-height: 56%;
        max-width: 60%;
        margin-bottom: 1%;
        margin-left: 2%;
        vertical-align: middle;
    }

    .my-baby-remember-me{
        margin-left: 12%;
        margin-top: -6%;
        font-size: 0.75em;
        color: #119BF4;
    }

    .money-input {
        border-radius: 25px;
        border: 1px solid #119BF4;
        padding: 10px;
        width: 50%;
        margin-left: 25%;
        color: #119BF4;
        padding-left: 4%;
        background-color: #FFFEF2;
    }

    .cifra{
        width: 10%;
        position: relative;
        height: 8%;
        margin-left: 18%;
        margin-bottom: 0%;
        margin-top: 13%;
        margin-bottom: -7%;
        color: rgb(17, 155, 244);
    }

    .kg {
        width: 10%;
        position: relative;
        height: 8%;
        margin-left: 18%;
        margin-bottom: 0%;
        margin-top: 5%;
        margin-bottom: -7%;
        color: rgb(17, 155, 244);
    }

    .input-label-kg {
        margin-left: 26%;
        margin-bottom: 1%;
        font-size: 0.8em;
    }

    ion-datetime {
        .item-cover {
            height: auto !important;
        }
    }
    
}
