page-my-baby {

    .title-text{
        margin-top: 10%;
        font-size: 1.5em;
        color: #119BF4;
        font-weight: 500;
        margin-bottom: 5%;
    }

    .input-container-my-baby {
        margin: 0% 0% 5% 0%;
    }

    .add-baby-text{
        margin-top: 5%;
        font-size: 1.0em;
        color: #119BF4;
        font-weight: 500;
        margin-bottom: 5%;
        padding-top: 2%;
    }

    .plus-img{
        max-height: 5%;
        max-width: 5%;
        margin-bottom: -1%;
        margin-left: 2%;
    }

    .checkbox-label{
        margin-left: 18%;
        margin-top: -13%;
        color: #119BF4;
    }
    .round-button-div{
        border-radius: 50%;
        width: 28px;
        height: 28px;
        color: white;
        // background-color: #119BF4;
        background-color: #91CBF6;
        padding-top: 20%;
        font-size: 0.7em;
        font-weight: 700;
    }

    .round-button-div-checked{
        border-radius: 50%;
        width: 28px;
        height: 28px;
        color: white;
         background-color: #119BF4;
        //background-color: #91CBF6;
        padding-top: 20%;
        font-size: 0.7em;
        font-weight: 700;
    }

    .rn{
        padding-left: 16%;
    }

    .p{
        padding-left: 26%;
    }

    .m{
        padding-left: 22%;
    }

    .g{
        padding-left: 24%;
    }

    .xg{
        padding-left: 17%;
    }

    .xxg{
        padding-left: 11%;
    }

    .img-logo{
        max-height: 56%;
        max-width: 60%;
        margin-bottom: 1%;
        margin-left: 2%;
    }

    .my-baby-remember-me{
        margin-left: 12%;
        margin-top: -6%;
        font-size: 0.75em;
        color: #119BF4;
    }

}
