page-autenticacao {

    .button-text{
        font-size: 0.7em;
        font-weight: bold;
    }

    .icons{
        position: absolute;
        left: 8%;
        font-size: 17px ;
    }

    .title-text{
        font-size: 1.5em;
        color: #119BF4;
        font-weight: 500;
    }

    .slogan-text{
        margin: 0% 5% 5% 5%;
        font-size: 0.94em;
    }
}
